.content {
    margin-left: 20%;
    margin-top: 5%;
    background-color: #FAFAFAFA;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    position: absolute;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    z-index: 5;
    bottom: 0;
    right: 0;
    display: flex;
    position: absolute;
    padding: 40px;
}

.warning{
    color: #DB3A34;
    font-size: 1rem;
}