.content {
    background-color: #FAFAFA;
    right: 0;
    bottom: 0;
    position: absolute;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #070707;
    width: 75%;
    height: 90%;
}

.grid {
    display: flex;
    position: absolute;
    padding: 20px;
    height: stretch;
    width: stretch;
    gap: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

.buttons {
    z-index: 1000;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    margin: 5px 0;
}

.warning{
    color: #DB3A34;
    font-size: 1rem;
}

.none {
    display: none;
}

.card {
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    padding: 2rem;
    border: 1px solid #bfbfbf;
    border-radius: 36px;
    box-shadow: 3px 3px 3px #bfbfbf;
    height: 450px;
    color: #070707;
    background-color: #FFFFFF;
    flex-direction: column;
    align-items: center;
}

.card:first-child{
    width: 700px;
}

/* Animation für das Erscheinen */
.animateButtons {
    animation: slideUp 0.2s ease-out forwards;
    flex-direction: column;
    display: flex;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}